.navbar {
  padding: 0;
  margin: 0;
  background-color: rgba(63, 70, 80, 0.97);
}

#brand {
  margin: 0;
  padding: 0;
  color: white;
}

#container {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
}

