.post {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
  width: 100%;
  background-color: 
  #23272a;
  margin-top: 10px;
  padding: 0.5em;
}

.post h2 {
  font-size: 24px;
}

.post .date {
  margin-left:1em;
}

.media {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
}

span {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 10px;
}

#header {
  width: 100%;
}

#metadata {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

#metadata #reddit-logo-small {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#footer #comments-votes {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}

#footer #comments {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

#footer #votes {
  display: flex;
  align-items: center;
  cursor: default;
}

#comments-votes-icon {
  width: 40px;
  height: 40px;
}

#footer #post_url {
  margin-left: 20px;
}

#comments-post-logo {
  width: 100px;
  height: 100px;
}

#loading-post {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #23272a;
  margin-top: 10px;
}

.other-media {
  display: flex;
  flex-direction:column;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

#preview {
  margin-right: 10px;
}

#external-link {
  font-size: 15px;
  margin-left: 10px;
}

#reddit-logo-medium {
  width: 100px;
}

.custom-modal {
  width: 100%;
  height: 600px;
  color: white;
  background-color: #23272a;
}

#comment{
  font-weight: bold;
}

#replies{
  margin-left: 40px;
  margin-bottom: 10px;
}

#spacer{
  height: 38px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

